###################
 

########
bin
.classpath
.settings
.project  

*.class
 
war/WEB-INF/classes/*
src/log4j.properties
war/WEB-INF/logging.properties

# Package Files #
*.jar
*.war
*.ear

appengine-generated/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.*~
.*
####test edit gitignore

